<p>
  <strong>Content:</strong>
  <%= @posting_page.content %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @posting_page.image.url %>
</p>
<br>
<%= link_to 'Edit', edit_posting_page_path(@posting_page) %>
<br>
<%= link_to 'Home', posting_pages_path %>
